/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #05031d;
    color: #333;
    margin: 0;
    padding: 0;
}
#welcome {
    color: white;
    }
header {
    background-color: #05031d;
    color: #030101;
    padding: 20px;
    text-align: center;
}

#clue {
    background-color: #e48bea;
}
img {
 height: 500px;
 width: 1000px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #05031d;
    color: white;
}
